<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miraclemakers.pitshop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoonglon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.miraclemakers.pitshop.LoginActivity" />
        </activity>
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CartActivity"
            android:label="@string/title_activity_cart"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.miraclemakers.pitshop.HomeActivity" />
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.miraclemakers.pitshop.HomeActivity" />
        </activity>
        <activity
            android:name=".CarView"
            android:label="@string/title_activity_car_view"
            android:parentActivityName=".SearchActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.miraclemakers.pitshop.SearchActivity" />
        </activity>
        <activity
            android:name=".FilterActivity"
            android:label="@string/title_activity_filter"
            android:parentActivityName=".SearchActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.miraclemakers.pitshop.SearchActivity" />
        </activity>
        <activity
            android:name=".CompareActivity"
            android:label="@string/title_activity_compare"
            android:parentActivityName=".CarView"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.miraclemakers.pitshop.CarView" />
        </activity>
        <activity
            android:name=".NewCarActivity"
            android:label="@string/title_activity_new_car"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.miraclemakers.pitshop.HomeActivity" />
        </activity>
        <activity
            android:name=".serverfiles.VintageCarsActivity"
            android:label="@string/title_activity_vintage_cars"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.miraclemakers.pitshop.HomeActivity" />
        </activity>
    </application>

</manifest>
